doctype html 
html 
 head
  title Employee Login
  style 
   include Styles/employee.css
 body
  .select-content
   .select-shift
    p.select Select Shitf
    select(class="button")
     option Shift1
     option Shift2 
     option Shift3
   .select-shift
    p.select.shift Select Kanban
    select(class="button")
     option Kanban 1-6-8
     option Kanban 1-6-9
     option Kanban 1-6-0
  .check-box
    p.check-in Check-in
    input(class="checkbox" type="checkbox")
  .img
   img(class="image" src="/Pictures/Camera.png" alt="")
  button.submit Submit