doctype html 
html 
 head
  title Supervisor Login
  style 
   include Styles/supervisor.css
 body
  .select-content
   .select-shift
    p.select Select Shitf
    select(class="button")
     option Shift1
     option Shift2 
     option Shift3
   .select-shift
    p.select.shift Select Kanban
    select(class="button")
     option Kanban 1-6-8
     option Kanban 1-6-9
     option Kanban 1-6-0
  .check-section
   .check-box.checkin-space
     p.check-in Check-in
     input(class="checkbox" type="checkbox")
   .check-box.checkout-space
    p.check-in Check-Out
    input(class="checkbox" type="checkbox")
  .img
    div.checkin-img
     img(class="image" src="/Pictures/Camera.png" alt="")
    div.checkout-img
     img(class="image" src="/Pictures/Camera.png" alt="")
  .comments
   p.comment-para Comments
   textarea(class="comment" name="", cols="100", rows="5",placeholder="Enter your comments..")
  div.submit-button
   button.submit Submit